@import '../utils/variables.scss';

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {
        img {
            width: 100%;
        }

        @media screen and (max-width: $breakpoints_medium-device) {
            width: 50%;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            width: 33%;
        }
    }
};