@import '../utils/variables.scss';

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__number {
        margin-top: 139px;
        color: $primary-color;
        font-weight: bolder;
        font-size: 288px;
        animation: errorFadeInUp 0.75s ease forwards;

        @media screen and (max-width: $breakpoints_medium-device) {
            font-size: 144px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            font-size: 96px;
        }
    }

    &__text {
        margin-top: 139px;
        color: #FF6060;
        font-weight: 500;
        font-size: 36px;
        animation: errorFadeInUp 0.75s ease forwards;

        @media screen and (max-width: $breakpoints_medium-device) {
            font-size: 24px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            font-size: 18px;
        }
    }

    &__back {
        margin-top: 139px;
        margin-bottom: 93px;
        font-size: 18px;
        text-decoration: underline;

        @media screen and (max-width: $breakpoints_medium-device) {
            font-size: 16px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            font-size: 14px;
        }
    }
}