@import '../utils/variables.scss';

.card {
    width: 100%;
    position: relative;
    height: 340px;

    @media screen and (max-width: $breakpoints_medium-device) {
        height: 255px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        background-color: transparent;
        margin: 15px 20px;
        box-sizing: inherit;
        color: white;
        font-weight: 700px;
    }
}