@import '../utils/variables.scss';

.card {
    width: 100%;
    position: relative;
    height: 340px;
    opacity: 0;
    animation: cardFadeInUp 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

    @media screen and (max-width: $breakpoints_medium-device) {
        height: 255px;
        opacity: 0;
        animation: cardFadeInRightMobile 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        margin: 20px;
        box-sizing: inherit;
        color: white;

        @media screen and (max-width: $breakpoints_medium-device) {
            margin: 20px 15px;
        }
    }
}