@import '../utils/variables.scss';

.collapse {
    display: flex;
    flex-direction: column;
    margin-left: 8.5%;
    margin-right: 8.5%;

    @media screen and (max-width: $breakpoints_medium-device) {
        margin-left: 0%;
        margin-right: 0%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 24px;
    }

    &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 1% 0% 1% 0%;
        margin-top: 30px;
        font-size: 24px;

        @media screen and (max-width: $breakpoints_medium-device) {
            font-size: 18px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            font-size: 13px;
        }

        h2 {
            margin-left: 1.6%;
        }

        &--button {
            margin-right: 1.6%;
            cursor: pointer;
            transition: transform 0.5s ease;

            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    &__content {
        margin-top: 1.3%;
        color: black;
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
        animation: collapseFadeIn 0.3s ease forwards;
        z-index: -1;

        @media screen and (max-width: $breakpoints_medium-device) {
            font-size: 15px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            font-size: 12px;
        }
    }
}