@import '../utils/variables.scss';

.collapse {
    width: 100%;

    &-about {
        display: flex;
        flex-direction: column;
        margin-left: 108px;
        margin-right: 108px;
        margin-top: 8px;
        margin-bottom: 8px;
        
        @media screen and (max-width: $breakpoints_large-device) {
            margin-left: 0px;
            margin-right: 0px;
        }
        
        @media screen and (max-width: $breakpoints_small-device) {
            margin-top: 0px;
        }
    }

    &-fichlogement {
        display: flex;
        flex-direction: row;
        gap: 76px;

        @media screen and (max-width: $breakpoints_medium-device) {
            flex-direction: column;
            gap: 0px;
        }

        & .collapse__header {
            
           @media screen and (max-width: $breakpoints_medium-device) {
               max-width: 100%;
           }
        }

        & .collapse__title {
            margin-top: 24px;
            padding: 1.8% 0% 1.8% 0%;

            h2 {
                font-size: 18px;

                @media screen and (max-width: $breakpoints_medium-device) {
                    font-size: 15px;
                }
        
                @media screen and (max-width: $breakpoints_small-device) {
                    font-size: 13px;
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 24px;
        min-width: 45.5%;
    }

    &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 1% 0% 1% 0%;
        margin-top: 30px;
    
        @media screen and (max-width: $breakpoints_small-device) {
            margin-top: 20px;
        }

        h2 {
            margin-left: 10px;
            font-size: 24px;

            @media screen and (max-width: $breakpoints_medium-device) {
                font-size: 18px;
            }
    
            @media screen and (max-width: $breakpoints_small-device) {
                font-size: 13px;
            }
        }
 
        &--button {
            margin-right: 24px;
            cursor: pointer;
            transition: transform 0.5s ease;

            @media screen and (max-width: $breakpoints_medium-device) {
                margin-right: 12px;
                font-size: 20px;
            }

            @media screen and (max-width: $breakpoints_small-device) {
                font-size: 16px;
            }

            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    &__content {
        margin-top: 20px;
        color: black;
        font-size: 18px;
        animation: collapseFadeIn 0.3s ease forwards;
        z-index: -1;
        width: 100%;

        @media screen and (max-width: $breakpoints_medium-device) {
            margin-top: 15px;
            font-size: 15px;
        }

        @media screen and (max-width: $breakpoints_small-device) {
            margin-top: 10px;
            font-size: 12px;
        }

        &--list {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            color: black;

            @media screen and (max-width: $breakpoints_medium-device) {
                margin-left: 15px;
            }

            @media screen and (max-width: $breakpoints_small-device) {
                margin-left: 10px;
            }
        }

        &--text {
            margin-left: 20px;

            @media screen and (max-width: $breakpoints_medium-device) {
                margin-left: 15px;
            }

            @media screen and (max-width: $breakpoints_small-device) {
                margin-left: 10px;
            }
        }
    }
}