@import '../utils/variables.scss';

.nav {
    display: flex;
    width: 100%;

    ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        li {
            display: flex;
            margin-left: 7.5%;
            font-size: 24px;
            font-weight: 500;

            @media screen and (max-width: $breakpoints_medium-device) {
                font-size: 16px;
            }

            @media screen and (max-width: $breakpoints_small-device) {
                font-size: 12px;
            }
        }
    }
}

.active {
    text-decoration: underline;
}