@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px) rotateX(-90deg) scale(0.5); // On déplace vers le haut, on l'incline vers l'arrière et réduit sa taille originale
    }
    50% {
      transform: translateY(-20px) rotateX(20deg) scale(1.1); // On soulève vers le haut, on l'incline légèrement vers l'avant et on agrandi à 110% de sa taille originale
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotateX(0) scale(1); // On affiche à sa position et taille originale
    }
  }

  @keyframes fadeInRightMobile {
    0% {
        opacity: 0;
        transform: translateX(100%) rotateY(-90deg) scale(0.5); // On commence à 100% de largeur de l'écran à droite, on incline et on réduit la taille originale
    }
    50% {
        transform: translateX(-20px) rotateY(20deg) scale(1); // On le fait se déplacer légèrement vers la gauche, se redresse puis s'agrandit jusqu'à sa taille originale
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotateY(0) scale(1); // Il arrive à sa position finale
    }
}